# Dependências
node_modules/
package-lock.json

# Build compilado
dist/
build/

# Variáveis de ambiente 
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cobertura de testes
coverage/

# Cache de ferramentas
.eslintcache

# Editor/IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Dev
scriptsExplain.txt
eslint.config.js